<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1496747611176-843222e1e57c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZHJlc3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">

  <div class="container">

    <h1 id="banner-title">La Bonne Tenue</h1>
    <p class="font-family: 'Montserrat', sans-serif;">Trouvez de superbes tenues à louer</p>

      <div class="search-form">

        <%= simple_form_for :search, url: items_path, method: :get do |f| %>
          <div style="display: -webkit-box;">
          <%= f.input :starts_at, placeholder: "Date de Début", as: :string, required: false, label: false, input_html: {class: "datepicker", id: "startdate"} %>
          <%= f.input :ends_at, placeholder: "Date de Fin", as: :string, required: false, label: false, input_html: {class: "datepicker", id: "enddate"}%>

          <%= f.input :size, collection: ["Taille", "34", "36", "38", "40", "42", "44", "46"], default: "34", label: false %>
          <%= f.input :type, collection: ["Type", "Robes", "Manteaux & Vestes", "Tops & Blouses", "Pantalons & Jeans", "Jupes & Shorts", "Sacs & Accessoires"], default: "Robes", label: false %>

          <%= f.submit class: 'pink-button'%>
          </div>
      </div>

      <% end %>
  </div>
</div>
