

  <div class="card-trip">
    <%= cl_image_tag item.photos.first.key, crop: :fill, class:"card-picture" %>
    <% if current_page?(bookings_path) %>
      <%= link_to edit_item_path(item) do %>
        <i class="far fa-edit icon-placement"></i>
      <% end %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= item.title.capitalize %></h2>
      </div>
      <h2 class="card-trip-pricing"><%= "#{item.price} €"%></h2>
      <%= cl_image_tag item.user.photo.key, crop: :fill, class: "card-trip-user avatar-bordered" %>
    </div>
  </div>
