<h1 class="text-align-center margin-top">Prête à louer votre vêtement ?</h1>
<p class="text-align-center p-margin">Mettez à louer vos plus beaux vêtements pour arrondir vos fins de mois avec La Bonne Tenue</p>

<div class="container form-margin-top">
  <%= simple_form_for @item do |f| %>
    <%= f.input :title, label: false, placeholder: "Titre" %>
    <div class="align-two-fields">
      <%= f.input :size, collection: ["34", "36", "38", "40", "42", "44", "46"], default: "34", label: false, placeholder: "Taille" %>
      <%= f.input :price, label: false, placeholder: "Prix" %>
    </div>
    <div class="align-two-fields">
      <%= f.input :color, label: false, placeholder: "Couleur" %>
      <%= f.input :brand, label: false, placeholder: "marque" %>
    </div>
    <%= f.input :description, label: false, placeholder: "Description" %>
    <div class="align-two-fields">
      <%= f.input :occasion, collection: ["grand événement", "sport", "chill", "soirée"], default: "grand événement", label: false, placeholder: "occasion" %>
      <%= f.input :item_type, collection: ["Robes", "Manteaux & Vestes", "Tops & Blouses", "Pantalons & Jeans", "Jupes & Shorts", "Sacs & Accessoires"], default: "Robes", label: false %>
      <%= f.input :photos, as: :file %>
    </div>
    <div class="align-center-flex">
      <%= f.submit 'Louer ce vêtement', class: "submit-outfit" %>
    </div>
  <% end %>
</div>
