<h1>Items#show</h1>

<h2><%= @item.title %></h2>
<p><%= @item.size %></p>
<p><%= @item.price %></p>
<p><%= @item.brand %></p>
<p><%= @item.item_type %></p>
<p><%= @item.color %></p>
<p><%= @item.occasion %></p>

<div id="main">
  <div class="container">
    <div class="typoFine">
      <ol class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li><a href="/produits/">Produits</a></li>
        <li><a href="/produits/robes/">Robes</a></li>
        <li><%= @item.title%></li>
      </ol>
    </div>
  </div>
</div>
